/* 전체 공통 초기화 */
@charset "utf-8";
@import url(nomal.css);

#contents{
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}


/* 헤더영역 */
.nav_menu>li>a{
	color: #121212;
}

/* 비주얼영역 */
#visual{
	position: relative;
	width: 100%; height: 700px;
	background: url(../images/annie-spratt-ax-KPVfTYAs-unsplash.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
#visual>h1{
	position: absolute;
	top: 30%; left: 20%;
	font-size: 3rem;
	color: #121212;
	-webkit-animation:droph1 1.5s;
	animation: droph1 1.5s;
}
.mobile_show{
	display: none;
	width: 100%;
}


@-webkit-keyframes droph1{
	0%{
		top:0;
		opacity: 0;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		top:30%;
		opacity: 1;
	}
}

@keyframes droph1{
	0%{
		top:0;
		opacity: 0;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		top:30%;
		opacity: 1;
	}
}

@media screen and (max-width: 863px){
	#visual>h1{
		top:30%;
		left: 40%;
		font-size: 2rem;
	}
	#at1>h2{
		font-size: 1.2rem;
		margin-top: 20%;
	}
	.at1_process>img{
		display: none;
	}
	.at1_process_text{
		display: block;
	}
	.at_box>.at2_map_info>h1{
		font-size: 1.1rem;
	}
	.info>li>a{
		font-size: 10px;
	}
}

@media screen and (max-width: 530px){
	#visual{
		background: none;
	}
	.mobile_show{
		display: block;
	}
	#at1>h2{
		font-size: 1rem;
	}
	#at1>p{
		font-size: 0.9rem;
	}
	.at1_process_text>li{
		font-size: 1rem;
	}
}

#contents>nav>ul{
	cursor: pointer;
	display: flex;
	border-bottom: 1px solid #5D5D5D;
	margin-bottom: 7%;
}
#contents>nav>ul>li{
	padding: 5px 20px;
	font-size: 1rem;
	font-weight: bold;
	border: 1px solid #5D5D5D;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 0;
}
article{
	width: 100%;
}
.at_box{
	display: none;
}
/*#at1{
	display: block;
}*/
#at1>h2>b{
	color: #BD8065;
}
.simple_req>hr{
	width: 5%;
	margin: auto;
	margin-top: 12%;
	border: 1px solid rgba(0,0,0,0.5);
}
.simple_req>h3{
	text-align: center;
}
.simple_req>span{
	display: block;
	font-size: 0.9rem;
	
}
.req_form{
	margin-top: 6%;
}
.req_form input{
	width: 100%;
	padding: 8px 0;
}
.req_form::placeholder{
	font-size: 1rem;
}
.massages{
	width: 100%;
	resize: none;
}
.req_sub>p{
	text-align: center;
}
.submit_btn{
	padding: 12px 14px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid;
}
.submit_btn:hover{
	background-color: #000;
	color: #fff;
}
.simple_req>h1{
	font-size: 1.8rem;
}
.simple_req>h3{
	font-size: 1.1rem;
}
#alertmassge{
	font-size: 1rem;
	color: red;
	margin-top: 5%;
	padding-bottom: 5%;
}
.at2_map>iframe{
	width: 100%; 
	height: 500px;
 }
 .at2_map_info{
	padding-top: 5%;
 }
 .at2_map_info>h1{
	 font-size: 2rem;
	 padding-bottom: 5%;
 }
 .at2_map_text p{
	font-size: 1rem;
 }
 .at2_map_text i{
	 font-size: 1.5rem;
 }



